<section class="container">
  <form class="formulario" [formGroup]="formGroup">
    <h2 class="titulo">Cadastro</h2>
    <div class="form-field">
      <label class="label">E-mail</label>
      <input class="input" type="text" formControlName="edtCadUserEmail" name="edtCadUserEmail">
    </div>
    <div class="form-field">
      <label class="label">Nome</label>
      <input class="input" type="text" formControlName="edtCadUserName" name="edtCadUserName">
    </div>
    <div class="form-field">
      <label class="label">CPF</label>
      <input class="input" type="text" formControlName="edtCadUserCPF" name="edtCadUserCPF">
    </div>
    <div class="form-field">
      <label class="label">Data de nascimento</label>
      <input class="input" type="date" formControlName="edtCadUserBirth"  name="edtCadUserBirth">
    </div>
    <div class="form-field">
      <label class="label">Senha</label>
      <input class="input" type="password" formControlName="edtCadUserPassword"  name="edtCadUserPassword">
    </div>

    <div class="botao-wrapper">
      <button class="botao" (click)="onSave()">Entrar</button>
    </div>
    <div class="botao-wrapper">
      <button class="botaoLimpar">Limpar</button>
    </div>
  </form>
</section>
